{% extends 'cars_list/cars_base.html' %}
{% load static %}

{% block content %}
    {% for car in cars %}
        <h3><a href="{% url 'car_detail' pk=car.pk %}">{{ car.title }}</a></h3>
        <img src="{% static "cars_list/cars_img/"|add:car.image_ref %}" alt="{{ car.title }}">
        <h4>{{ car.usd_price }} $</h4>
        <h4>{{ car.uah_price }} грн.</h4>
        <br>
    {% endfor %}
    <h2>
    {% if cars.has_previous %}
        <a href="/?page={{ cars.previous_page_number }}"><</a>
    {% endif %}
    {{ cars.number }}
    {% if cars.has_next %}
        <a href="/?page={{ cars.next_page_number }}">></a>
    {% endif %}
    {{ cars.count }}
    </h2>
{% endblock %}